In [19]:
# ch1-2. 
import pandas as pd

CCTV_Seoul = pd.read_csv("./서울시 자치구 년도별 CCTV 설치 현황.csv", encoding="utf-8")
CCTV_Seoul.head()

CCTV_Seoul.columns
# CCTV_Seoul.columns[0]

CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]:'구별'}, inplace=True)
CCTV_Seoul.head()

# pop_Seoul = pd.read_excel("./서울인구_구별.xls", encoding="utf-8")
pop_Seoul = pd.read_excel("./서울인구_구별.xls",
                         header = 2, # 몇번째 row부터 읽을 것인지 지정 
                         parse_cols="B,D,G,J,M,N", # 읽기 원하는 컬럼을 지정 
                         encoding="utf-8")
pop_Seoul.rename(columns={pop_Seoul.columns[0]:'구별',
                          pop_Seoul.columns[1]:'인구수',
                          pop_Seoul.columns[2]:'한국인',
                          pop_Seoul.columns[3]:'외국인',
                          pop_Seoul.columns[4]:'세대당인구',
                          pop_Seoul.columns[5]:'고령자'}, inplace=True)
pop_Seoul.head()

    구별       인구수      한국인     외국인  세대당인구      고령자
0   합계  10089517  9814049  275468   2.31  1393671
1  종로구    163569   153780    9789   2.09    26512
2   중구    135427   126032    9395   2.06    21798
3  용산구    245245   229677   15568   2.12    37331
4  성동구    316068   308066    8002   2.27    42171

In [63]:
# ch1-3.
import pandas as pd
import numpy as np

s = pd.Series([1,3,4,np.NaN,6,8])
# print(s)

dates = pd.date_range('20180920', periods=6) # 주어진 날짜부터 시작함. periods값은 실제 0..(periods-1) 임
# print(dates)

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df
df.head(3)
df.index # DataFrame의 인덱스로 사용 되는 값을 배열로 반환 
df.columns # DataFrame의 컬럼 지시 값을 배열로 반환 
df.values # DataFrame의 값들을 배열로 반환 
df.info() # DataFrame의 개요
df.describe() # DataFrame의 통계적 개요 확인 
df.sort_values(by='B', ascending=False) # by에 주어진 컬럼을 기준으로 정렬. ascending 값으로 오름차순/내림차순 설정
df['A'] # 컬럼으로 해당 데이터들을 읽는다.
df[0:3] # row0 ~ row3 까지 데이터를 읽는다.
df['2018-09-22':'2018-09-24'] # row의 인덱스명으로 데이터를 읽는다. 

df.loc[:,['A','B']] # DataFrame에 location 지정 방법으로 데이터를 읽는다.
df.loc['2018-09-22':'2018-09-24',['A','B']] # '2018-09-22'~'2018-09-24' 데이터 중 컬럼 'A','B' 값들을 읽는다.
df.loc['2018-09-22':'2018-09-24','B':'D'] # '2018-09-22'~'2018-09-24' 데이터 중 컬럼 'B'~'D' 값들을 읽는다.
df.loc['2018-09-22':'2018-09-25','A'] # '2018-09-22'~'2018-09-24' 데이터 중 컬럼 'A' 값들을 읽는다.
df.iloc[3] # 행이나 열의 범위를 숫자로 지정할 때 사용. 4번째 행(0부터 시작)
df.iloc[:,3] # 4번째 컬럼 
df.iloc[1:3,2:3] # 2행 ~ 3행, 3컬럼
print(df)
df.iloc[[1,2,3], [2,3]] # 2행,3행,4행의 2컬럼,3컬럼 데이터

# 조건절을 사용하여 데이터 읽기
df[df.A > 0] # 'A'컬럼 데이터가 0보다 큰 경우의 값들 
df[df>0] # 데이터 전체에 대해 조건을 걸 수도 있다. 0보다 큰 경우의 값들. 해당 없으면 NaN

# DataFrame 복사 
df_copy = df # reference copy
df_deep_copy = df.copy() # value copy
df_deep_copy['E'] = ['1','1','2','3','4','3']
print(df_deep_copy)
print(df)
print(df_copy)

# 값 존재 유무 판단
df_deep_copy['E'].isin(['2','4'])
# isin을 사용하여 데이터 선별하기
df_deep_copy[df_deep_copy['E'].isin(['2','4'])]

# 통계적 데이터를 보고자 할 때
df.apply(np.cumsum) # 각 컬럼의 누적합을 보여준다

df.apply(lambda x: x.max() - x.min())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2018-09-20 to 2018-09-25
Freq: D
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 240.0 bytes
                   A         B         C         D
2018-09-20  1.323498 -0.612084  1.419793  0.630429
2018-09-21 -0.043425  0.008643  0.361444  0.808701
2018-09-22 -0.099394 -0.393728 -0.080440  1.527035
2018-09-23 -1.239806  0.167922 -0.576191 -0.454442
2018-09-24  0.252271  1.162024  1.352809  0.383051
2018-09-25  0.085261 -0.726786 -0.309862 -0.772606
                   A         B         C         D  E
2018-09-20  1.323498 -0.612084  1.419793  0.630429  1
2018-09-21 -0.043425  0.008643  0.361444  0.808701  1
2018-09-22 -0.099394 -0.393728 -0.080440  1.527035  2
2018-09-23 -1.239806  0.167922 -0.576191 -0.454442  3
2018-09-24  0.252271  1.162024  1.352809  0.383051  4
2018-09-25  0.085261 -0.726786 -0.309862 -0.772606  3
                   A         B         C         D
2018-09-20  1.323498 -0.612084  1.419793  0.630429
2018-09-21 -0.043425  0.008643  0.361444  0.808701
2018-09-22 -0.099394 -0.393728 -0.080440  1.527035
2018-09-23 -1.239806  0.167922 -0.576191 -0.454442
2018-09-24  0.252271  1.162024  1.352809  0.383051
2018-09-25  0.085261 -0.726786 -0.309862 -0.772606
                   A         B         C         D
2018-09-20  1.323498 -0.612084  1.419793  0.630429
2018-09-21 -0.043425  0.008643  0.361444  0.808701
2018-09-22 -0.099394 -0.393728 -0.080440  1.527035
2018-09-23 -1.239806  0.167922 -0.576191 -0.454442
2018-09-24  0.252271  1.162024  1.352809  0.383051
2018-09-25  0.085261 -0.726786 -0.309862 -0.772606

A    2.563303
B    1.888810
C    1.995983
D    2.299641
dtype: float64